deploy/synapse/data/
deploy/.env
deploy/rumi-channel.env
deploy/element/config.json
deploy/element/welcome.html
deploy/element/home.html
deploy/coturn/turnserver.conf
deploy/sygnal/sygnal.yaml
deploy/sygnal/fcm-service-account.json
.env
node_modules/
*.log
backups/
